<!DOCTYPE html>
<head>
  <title>What's Up!</title>
  <!--<link rel="stylesheet" type="text/css" href="/static/css/main.css">-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  {% block head %}{% end %}
</head>
<body>

<div id="header">
  {% block header %}{% end %}
</div>

<div id="content">
  {% block content %}{% end %}
</div>

<div id="footer">
  {% block footer %}{% end %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>