{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/display-tweets.js"></script>
{% end %}

{% block header %}
<h1>Search for a topic to find out What's Up on Twitter.</h1>
{% end %}

{% block content %}
<div id="spinner"></div>
<div class="form-group">
  <input id="search-box" type="search" placeholder="Search for a topic" class="form-control">
</div>
<button id="search-btn" class="btn btn-success" onclick="getTweets();">Go</button>

<ul id="tweet-listing">
</ul>

{% end %}

{% block footer %}
{% end %}