{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/display-tweets.js"></script>
{% end %}

{% block header %}
<h1>Search for a topic to find out What's Up on Twitter.</h1>
{% end %}

{% block content %}
<form role="form">
  <div class="form-group">
    <input type="search" placeholder="Search for a topic" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Go</button>
</form>

<ul id="tweet-listing">
</ul>

{% end %}

{% block footer %}
{% end %}